.about-sedona {
  width: 320px;
  box-sizing: border-box;
  padding: 32px 19px 53px 19px;
}

@media (min-width: @tablet-width) {
  .about-sedona {
    box-sizing: border-box;
    width: 768px;
    padding: 48px 124px 55px 124px;
  }
}

@media (min-width: @desktop-width) {
  .about-sedona {
    box-sizing: border-box;
    width: 1200px;
    padding: 59px 358px 44px 358px;
  }
}

.text-block__title {
  .text-block__title ();
  margin: 0;
  margin-bottom: 29px;
}

.text-block__description {
  .text-block__description ();
}
