.about-catalog {
  box-sizing: border-box;
  padding: 37px 20px 25px 20px;
}

@media (min-width: @tablet-width) {
  .about-catalog {
    width: 768px;
    box-sizing: border-box;
    padding: 66px 155px 30px 155px;
  }
}

@media (min-width: @desktop-width) {
  .about-catalog {
    width: 1200px;
    box-sizing: border-box;
    padding: 104px 371px 69px 371px;
  }
}

.about-catalog__title {
  .text-block__title ();
  margin-bottom: 32px;
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .about-catalog__title {
    .text-block__title ();
    font-size: 30px;
  }
  }

  @media (min-width: @desktop-width) {
    .about-catalog__title {
      .text-block__title ();
      font-size: 30px;
    }
    }

.about-catalog__description {
  .text-block__description ();
}
