.advantages {
  width: 100%;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__item {
  padding: 24px 26px;
  background-color: @grey-advantages;
}

.advantages__item--blue-theme {
  background-color: @blue;
  padding: 0;
}

.advantages__text {
padding: 54px 19px 0px 19px;
}

@media (min-width: @tablet-width) {
  .advantages__item--blue-theme {
    display: flex;
    grid-column: 1/-1;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--blue-theme {
    display: flex;
    grid-column: 1/-1;
  }
}

@media (min-width: @tablet-width) {
  .advantages__text {
    width: 256px;
    box-sizing: border-box;
    padding: 40px 32px 44px 32px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text {
    width: 400px;
    box-sizing: border-box;
    padding: 47px 53px 56px 52px;
  }
}

.advantages__img {
  object-fit: cover;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .advantages__img--bridge {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .advantages__img--bridge {
    order: 1;
  }
}

.advantages__item--icon {
  padding: 22px 19px;
  background-color: @white;
}

.advantages__title {
  .text-block__title();
  margin-bottom: 22px;
}

.advantages__title--white-theme {
  color: @white;

}

.advantages__title--icon {
  text-align: left;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
.advantages__title--icon {
  margin-bottom: 32px;
}
}

@media (min-width: @desktop-width) {
.advantages__title--icon {
  margin-bottom: 28px;
}
}

.advantages__description {
  .text-block__description();
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
.advantages__description {
  margin-bottom: 22px;
}
}

@media (min-width: @desktop-width) {
  .advantages__description {
    margin-bottom: 32px;
  }
  }

.advantages__description:last-child {
  margin-bottom: 0;
}
.advantages__description--white-theme {
  color: @white;
}

.advantages__description--icon {
  text-align: left;
}
