.advantages {
  width: 100%;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__item {
  background-color: @grey-advantages;
  padding: 26px 35px 23px 35px;
}

@media (max-width: @mobile-width-only) {
  .advantages__first-line {
    position: relative;
  }

  .advantages__first-line::after {
    position: absolute;
    right: -15px;
    bottom: -26px;
    left: -15px;
    height: 1px;
    background-color: @line;
    content: "";
    z-index: 2;
  }

  .advantages__second-line {
    position: relative;
  }

  .advantages__second-line::after {
    position: absolute;
    right: -15px;
    bottom: -26px;
    left: -15px;
    height: 1px;
    background-color: @line;
    content: "";
    z-index: 2;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item {
    background-color: @grey-advantages;
    padding: 42px 33px 63px 34px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    background-color: @grey-advantages;
    padding: 41px 42px 62px 43px;
  }
}

.advantages__item--blue-theme {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__item--blue-theme {
    display: flex;
    grid-column: 1/-1;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--blue-theme {
    display: flex;
    grid-column: 1/-1;
  }
}


.advantages__text {
  background-color: @blue;
  padding: 47px 25px 40px 16px;
}


@media (min-width: @tablet-width) {
  .advantages__text {
    width: 256px;
    box-sizing: border-box;
    padding: 40px 32px 44px 32px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text {
    width: 400px;
    box-sizing: border-box;
    padding: 48px 53px 56px 52px;
  }
}
/*7 задание конец - поменяла местами первый элемент и внесла изменения в паддинг*/
.advantages__img {
  display: block;
  padding: 0;
  object-fit: cover;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .advantages__img {
    width: 512px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__img {
    width: 800px;
  }
}

.advantages__item--icon {
  position: relative;
  box-sizing: border-box;
  padding-left: 64px;
  padding-right: 30px;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .advantages__item--icon {
    padding: 158px 36px 59px 36px;
    margin: 0;
  }
}


@media (min-width: @desktop-width) {
  .advantages__item--icon {
    margin: 0;

  }
}

.advantages__item--house {
  background-image: url("../img/icons/house-mobile.svg");
  background-repeat: no-repeat;
  background-position: 17px 22px;
  padding-top: 30px;
  padding-bottom: 11px;
}


@media (min-width: @tablet-width) {
  .advantages__item--house {
    background-image: url("../img/icons/house-desktop.svg");
    background-repeat: no-repeat;
    background-position: 90px 60px;
  }
}


@media (min-width: @desktop-width) {
  .advantages__item--house {
    background-image: url("../img/icons/house-desktop.svg");
    background-repeat: no-repeat;
    background-position: 161px 59px;
    padding: 158px 48px 79px 46px;
  }
}

.advantages__item--food {
  background-image: url("../img/icons/food-mobile.svg");
  background-repeat: no-repeat;
  background-position: 17px 10px;
  padding-top: 18px;
  padding-left: 68px;
  padding-right: 20px;

  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item--food {
    background-image: url("../img/icons/burger-desktop.svg");
    background-repeat: no-repeat;
    background-position: 90px 60px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--food {
    background-image: url("../img/icons/burger-desktop.svg");
    background-repeat: no-repeat;
    background-position: 161px 63px;
    padding: 158px 42px 79px 46px;
br {
  display: block;
}
  }
}

.advantages__item--souvenir {
  background-image: url("../img/icons/souvenir-mobile.svg");
  background-repeat: no-repeat;
  background-position: 16px -3px;
  padding-top: 5px;
  padding-left: 61px;
  padding-bottom: 50px;
  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item--souvenir {
    background-image: url("../img/icons/souvenir-desktop.svg");
    background-repeat: no-repeat;
    background-position: 90px 60px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--souvenir {
    background-image: url("../img/icons/souvenir-desktop.svg");
    background-repeat: no-repeat;
    background-position: 167px 58px;
    padding: 158px 43px 79px 46px;

    br {
      display: block;
    }
  }
}

.advantages__title {
  .text-block__title();
  margin-bottom: 11px;
  br {
    display: none;
   }
}

@media (min-width: @desktop-width) {
.advantages__title {
 font-size: 21px;
  margin-bottom: 14px;
 br {
  display: block;
 }
}
}

.advantages__title--white-theme {
  color: @white;
  margin-bottom: 12px;

  br {
    display: none;
  }
}

/*7 модуль начало*/
@media (min-width: @desktop-width) {
  .advantages__title--white-theme {
    font-size: 21px;
    margin-bottom: 13px;

    br {
      display: block;
    }
  }
  }
/*7 модуль конец*/

.advantages__title--icon {
  text-align: left;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .advantages__title--icon {
    margin-bottom: 32px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title--icon {
    font-size: 21px;
    margin-bottom: 24px;
    text-align: center;
  }
}

.advantages__description {
  .text-block__description();
  margin-bottom: 17px;
  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__description {
    margin-bottom: 22px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description {
    margin-bottom: 24px; /*7 задание*/
    br {
      display: block;
    }
  }
}

.advantages__description:last-child {
  margin-bottom: 0;
}

.advantages__description--white-theme {
  color: @white;
  br{
    display: none;
  }
}

@media (min-width: @desktop-width) {
.advantages__description--white-theme {
  br{
    display: block;
  }
}
}

.advantages__description--icon {
  text-align: left;
}

@media (min-width: @tablet-width) {
  .advantages__description--icon {
    text-align: center;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description--icon {
    text-align: center;
    padding-bottom: 0;
  }
}

.advantages__text--bridge {
  padding: 40px 33px 35px 29px;

  br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__text--bridge {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text--bridge {
    order: 2;
    padding: 50px 53px 56px 52px;
br {
  display: block;
}
  }
}
