.fotoalbum__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .fotoalbum__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
  }
}

@media (min-width: @desktop-width) {
  .fotoalbum__list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
}

.fotoalbum__item {
  padding: 24px 20px 25px 20px;
}

@media (min-width: @tablet-width) {
  .fotoalbum__item {
    display: grid;
    grid-template-columns: 229px 95px;
  }
}

@media (min-width: @desktop-width) {
  .fotoalbum__item {
    display: grid;
    grid-template-columns: 229px 171px;
  }
}


@media (min-width: @tablet-width) {
  .fotoalbum__item--first {
    grid-column: 1/-1;
  }
}

@media (min-width: @desktop-width) {
  .fotoalbum__item--first {
    grid-column: 1/-1;
  }
}

.fotoalbum__img {
  margin: 24px 0px 15px 0px;
}

.fotoalbum__title {
  .text-block__title();
  text-align: left;
}


.fotoalbum__description {
  .text-block__description();
  text-transform: none;
  text-align: left;
}

.fotoalbum__number {
  .text-block__title();
  text-align: left;
}
