.fotoalbum__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fotoalbum__item {
  padding: 24px 20px 25px 20px;
}

.fotoalbum__img {
  margin: 24px 0px 15px 0px;
}

.fotoalbum__title {
  .text-block__title();
  text-align: left;
}


.fotoalbum__description {
  .text-block__description();
  text-transform: none;
  text-align: left;
}

.fotoalbum__number {
  .text-block__title();
  text-align: left;
}
