.modal {
  position: relative;
  -webkit-box-sizing: border-box; /* stylelint-disable-line */
  box-sizing: border-box;
  margin: auto;
  background-color: @white;
}

.modal--error {
  width: 320px;
}

@media (min-width: @tablet-width) {
  .modal--error {
    width: 400px;
  }
}


@media (min-width: @desktop-width) {
  .modal--error {
    width: 400px;
  }
}

.modal-content--error {
  padding: 45px 42px 35px 42px;
  display: flex;
  flex-direction: column;
}

.modal--success {
  width: 320px;
}


@media (min-width: @tablet-width) {
  .modal--success {
    width: 640px;
  }
}


@media (min-width: @desktop-width) {
  .modal--success {
    width: 640px;
  }
}

.modal-content--success {
  padding: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box; /* stylelint-disable-line */
  display: -ms-flexbox; /* stylelint-disable-line */
  display: flex; /* stylelint-disable-line */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.modal__button--error {
  width: 180px;
  padding: 18px 63px 14px 64px;
margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .modal__button--error {
    width: 272px;
    padding: 18px 107px 14px 107px;
    margin: 30px 64px 49px 64px;
  }
}

@media (min-width: @desktop-width) {
  .modal__button--error {
    width: 272px;
    padding: 18px 107px 14px 107px;
    margin: 30px 64px 49px 64px;
  }
}

.modal__button--success {
  width: 280px;
  padding: 18px 61px 14px 61px;
  margin: 0 auto;
  font-size: 18px;
}


@media (min-width: @tablet-width) {
  .modal__button--success {
    width: 458px;
    padding: 18px 139px 14px 140px;
  }
}


@media (min-width: @desktop-width) {
  .modal__button--success {
    width: 458px;
    padding: 18px 139px 14px 140px;
  }
}

.modal__title {
  .text-block__title();
  margin-bottom: 25px;
}


@media (min-width: @tablet-width) {
  .modal__title--error {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px;
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (min-width: @desktop-width) {
  .modal__title--error {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px;
    padding-left: 49px;
    padding-right: 49px;
  }
}


@media (min-width: @tablet-width) {
  .modal__title--success {
    font-size: 30px;
    margin-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .modal__title--success {
    font-size: 30px;
    margin-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal__description {
  .text-block__description();
}

.modal__text-wrapper--error {
margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .modal__text-wrapper--error {
    padding: 38px 46px 33px 47px;
  }
}

@media (min-width: @desktop-width) {
  .modal__text-wrapper--error {
    padding: 38px 46px 33px 47px;
  }
}

.modal__text-wrapper--success {
margin-bottom: 50px;
padding-left: 37px;
padding-right: 39px;
br {
  display: block;
}

}

@media (min-width: @tablet-width) {
  .modal__text-wrapper--success {
    padding: 52px 97px 57px 99px;
  }
}


@media (min-width: @desktop-width) {
  .modal__text-wrapper--success {
    padding: 52px 97px 57px 99px;
  }
}

.modal__button-wrapper {
  box-sizing: border-box;
  padding: 20px;
  background-color: @grey-input;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .modal__button-wrapper {
    box-sizing: border-box;
    padding: 44px 91px;
    background-color: @grey-input;
  }
}
