.site-list {
  list-style-type: none;
  background-color: @blue;
  margin: 0;
  padding: 0;
  .text-block__title();
  z-index: 1;
  width: 100%;
  display: none;
  }

  @media (min-width: @tablet-width) {
    .site-list {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    .site-list {
      display: block;
    }
  }

.site-list__item {
  width: 320px;
}

.site-list__link {
  color: @white;
  text-decoration: none;
}

